@media (max-width: 900px) {
  .body,
  video {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .app,
  .time-select,
  .player-container,
  .sound-picker {
    width: 90%;
    height: 90%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .time-select {
    align-items: flex-start;
  }

  .player-container {
    align-items: center;
  }

  .sound-picker {
    align-items: flex-end;
  }

  .sound-picker button {
    height: 80px;
    width: 80px;
    padding: 25px;
  }

  .time-display {
    font-size: 50px;
  }
}

@media (max-width: 770px) {
  .body,
  video {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .app,
  .time-select,
  .player-container,
  .sound-picker {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    width: 80%;
    height: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .time-select {
    align-items: flex-start;
  }

  .player-container {
    align-items: center;
    margin: auto;
    align-self: flex-end;
  }

  .sound-picker {
    align-items: flex-end;
    align-self: flex-end;
  }

  .sound-picker button {
    height: 60px;
    width: 60px;
    padding: 15px;
  }

  .time-display {
    font-size: 24px;
  }

  .replay {
    align-self: center;
    padding: 2px;
  }

  img.play {
    height: 25%;
  }

  .time-select button {
    width: 30%;
    height: 10%;
    font-size: 15px;
  }
}

@media (max-width: 560px) {
  .body,
  video {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .app,
  .time-select,
  .player-container,
  .sound-picker {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    height: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .time-select {
    align-items: flex-start;
  }

  .player-container {
    align-items: center;
    margin: auto;
    align-self: flex-end;
  }

  .sound-picker {
    align-items: flex-end;
    align-self: flex-end;
  }

  .sound-picker button {
    height: 60px;
    width: 60px;
    padding: 20px;
  }

  .time-display {
    font-size: 40px;
  }

  .replay {
    align-self: center;
    padding: 0rem;
  }
}

@media (max-width: 425px) {
  .body,
  video {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .app,
  .time-select,
  .player-container,
  .sound-picker {
    width: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .time-select {
    align-items: flex-start;
    height: 65%;
  }

  .player-container {
    align-items: center;
    height: 70%;
    margin-left: 10px;
  }

  .sound-picker {
    align-items: flex-end;
    height: 59%;
    margin-left: 30px;
    margin-bottom: 7px;
  }

  .sound-picker button {
    height: 50px;
    width: 50px;
    padding: 10px;
  }

  .replay {
    align-self: center;
    margin-bottom: 15px;
  }

  .time-select button {
    width: 30%;
    height: 10%;
    font-size: 11px;
  }

  .time-display {
    font-size: 21px;
    padding: 10px;
  }

  img.play {
    height: 20%;
  }

  .player-container svg {
    height: 40%;
    top: 50%;
    left: 50%;
  }
}
